DATABASE_URL=postgresql://docker:docker@localhost:5432/dashboard-iptv?schema=public
BCRYPT_SALT_ROUNDS=8

POSTGRES_PORT=5432
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker

AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_SECRET="68X10ggcsctF7ivU/7kpHlO1uw1bi8dLgS34TcY9sEE=" # Added by `npx auth`. Read more: https://cli.authjs.dev